body {
    color: #000;
    font-family: "Segoe UI Condensed","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.icon {
    height: 17px;
    width: 81px;
    display: block;

}