<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>ga9286gmail918.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pbitokenservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pbitokenservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PBITokenService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PBITokenService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://ga9286gmail918.onmicrosoft.com/WebApp-pbitokenservice.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>51e5f70f-7c9a-443c-91f9-76d4ac4076e0</ADClientAPPID>
    <ADClientPassword>OpePzUKJMsVXJPDHktsLsjO1TQlVGOZAX9hwUfopdq4=</ADClientPassword>
    <ADReplyUrl>https://pbitokenservice.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>93540c8c-c52a-457a-92ef-d6e59c3841b0</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>